@charset "utf-8";
*{margin: 0; padding: 0;}

header {
    padding: 20px;
    border-bottom: 1px solid #FC4E00;
    margin-bottom: 100px;
    text-align: center;

}
h1{
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}
header img{
    width: 100px;
    height: auto;
    align-items: center;
}

section article > div{
    max-width: 1280px;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.orange{
 background-color:#FC4E00 ;
}
.white h1{
    color: #333;
    margin-top: 100px;
}


section article div div::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px;
    transition: 0.3s;
}
section article div div:hover::before{
    background-color: rgba(0, 0, 0, 0.5);
    
}

section article div div{
    display: inline-block;
    margin-bottom: 100px;
    position: relative;
}

section div img{
    width: 350px;
    height: 500px;
    display: block;
    border-radius: 20px;
    object-fit: cover;
}



footer{
    margin-top: 50px;
    padding: 20px;
    background-color: antiquewhite;
    color: #ccc;
    text-align: center;
}